@font-face {
    font-family: "Big John";
    src: url("../fonts/big_john.otf");
}

@font-face {
    font-family: "Slim John";
    src:
      local("Slim John"),
      url("../fonts/slim_john.otf");
}
